@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo";
}

.header-container {
  background-color: rgba(242, 233, 216, 1);
  margin-bottom: 80px;
}

.header {
  background-color: rgba(242, 233, 216, 1);
  position: sticky;
  top: 0;
  margin: 0 auto;
  padding: 31px 320px;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.a-btn {
  background-color: #d97652;
  color: white;
  padding: 15px 29px;
  border-radius: 30px;
  text-decoration: none;
}

.header-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 50px;
  padding-bottom: 0;
  gap: 40px;
}

.header-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.header-content p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.header-img img {
  width: 100%;
  max-width: 400px;
}

.first-cat-section {
  display: flex;
  gap: 110px;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.first-cat-section img {
  width: 660px;
  height: 390px;
  border-radius: 30px;
}

.first-cat-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.first-cat-section-text {
  width: 510px;
}

.main-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 88px;
}

.main-desc h2 {
  font-size: 48px;
  color: rgba(217, 118, 82, 1);
  margin-bottom: 40px;
}

.main-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  margin-bottom: 90px;
}

.main-imgs img {
  width: 378px;
  height: 378px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

.main-imgs-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 90px;
}

.main-imgs-desc p {
  margin-bottom: 2px;
}

.subscribe-section {
  position: relative;
  top: 60px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: white;
  background-color: rgba(38, 49, 64, 1);
  border-radius: 30px;
  width: 1280px;
  padding: 50px 58px;
  gap: 143px;
}

.subscribe p {
  font-size: 14px;
}

.subscribe h2 {
  font-size: 36px;
  margin-bottom: 18px;
}

.subscribe-input {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 530px;
  background-color: white;
  border-radius: 60px;
  height: 60px;
}

.input-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0;
  height: 100%;
}

.input-box img {
  margin: 18px 16px 18px 28px;
}

.input-box a {
  margin: 5px;
}

.last-img {
  position: relative;
  margin-top: -30px;
  z-index: 1;
}

.last-img img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  object-position: center center;
  display: block;
}

.footer-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px 350px;
}

.footer-section ul {
  list-style: none;
  display: flex;
}
.footer-logo {
  width: 226px;
  height: 70px;
}

.footer-section ul {
  gap: 20px;
}

.modal {
  display: none;
  background-image: url(../images/무제-1\ 1.png);
  width: 600px;
  height: 400px;
  text-align: center;
  border-radius: 30px;
}

.modal img {
  margin: 60px 245px 24px 245px;
  width: 110px;
  height: 112px;
}

.modal h2 {
  color: rgba(217, 118, 82, 1);
  font-size: 36px;
  margin-bottom: 12px;
}

.modal p {
  font-size: 14px;
  margin-bottom: 38px;
}

.scroll-top-btn {
  background-color: white;
  background-image: url(../icon/keyboard_arrow_up.svg);
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 184px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}

.scroll-top-btn:hover {
  background-color: none;
  background-image: url(../icon/keyboard_arrow_up_hover.svg);
}
.mob-subscribe {
  display: none;
}

.footer-menu-group {
  display: none;
}
@media (max-width: 320px) {
  .header {
    padding: 20px;
  }

  .top-nav {
    gap: 10px;
    text-align: center;
  }
  .hamburger {
    display: flex;
    color: #333;
  }
  .nav {
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  .top-nav img {
    display: flex;
  }
  .header-content-wrapper {
    text-align: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .header-content h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .header-content p {
    font-size: 14px;
  }

  .header-img img {
    max-width: 100%;
    height: auto;
  }

  .first-cat-section {
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
  }

  .first-cat-section img {
    width: 100%;
    height: auto;
  }

  .first-cat-section h2 {
    font-size: 20px;
  }

  .first-cat-section-text {
    width: 100%;
    font-size: 14px;
  }

  .main-desc h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .main-desc p {
    font-size: 14px;
    padding: 0 10px;
  }

  .main-imgs {
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    gap: 20px;
    padding-left: 32px;
    width: 100%;
    overflow-y: auto;
  }

  .main-imgs img {
    width: 260px;
    height: 260px;
  }

  .main-imgs-desc {
    flex-direction: column;
    font-size: 14px;
    gap: 20px;
    padding: 0 10px;
    text-align: center;
  }

  .subscribe-section {
    position: relative;
    flex-direction: column;
    gap: 20px;
    width: 326px;
    padding: 30px 20px;
  }

  .subscribe h2 {
    font-size: 24px;
  }

  .subscribe p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .input-box {
    width: 262px;
    height: 40px;
    flex-direction: row;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .input-box img {
    width: 18px;
    height: 18px;
  }

  .input-box input {
    border-radius: 60px;
    font-size: 12px;
  }
  .input-box a {
    display: none;
    width: 117px;
    height: 40px;
    font-size: 14px;
    align-items: center;
  }
  .mob-subscribe {
    display: flex;
    justify-content: flex-end;
  }

  .mob-subscribe a {
    display: flex;
    width: 117px;
    height: 40px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 58px;
  }
  .footer-icon-group {
    display: flex;
  }

  .footer-icon-group ul {
    width: 176px;
  }
  .footer-menu-group {
    font-size: 14px;
    color: rgba(118, 118, 118, 1);
    margin: 30px 20px 16px 89px;
  }

  .footer-menu-group li {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    list-style: none;
  }
  .scroll-top-btn {
    width: 32px;
    height: 32px;
    bottom: 100px;
    right: 16px;
    background-size: cover;
  }

  .footer-logo {
    width: 112px;
    height: 34px;
  }

  .footer-section li img {
    width: 32px;
    height: 32px;
  }
  .modal {
    width: 300px;
    height: 300px;
    padding: 20px;
    background-size: cover;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal img {
    width: 80px;
    height: 80px;
    margin: 20px auto 16px;
  }

  .modal h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .modal p {
    font-size: 14px;
    margin-bottom: 28px;
    text-align: center;
  }

  .modal .a-btn {
    font-size: 14px;
    padding: 11px 24px;
  }
  .scroll-top-btn {
    display: none;
  }
}
